nextflow
isb-cgc-01-0006-cef2fa3903c4.json
.nextflow*
__pycache__
.venv/
.nf-test/
work
swarm_*
pipeline_trace*
curatedmetagenomicdata-*.json
venv/
databases/
test-results/
report-*.html
timeline-*.html
