params {
    uniref="uniref90_diamond"
    chocophlan="full"
}


profiles {
    slurm {
        env.SINGULARITY_BINDPATH="/vf,/gpfs,/spin1,/data,/lscratch,/scratch,/fdb"
	singularity.autoMounts=true
	singularity.runOptions="--bind='/vf,/gpfs,/spin1,/data,/lscratch,/scratch,/fdb'"
        env.http_proxy="http://dtn06-e0:3128"
        env.https_proxy="http://dtn06-e0:3128"
        process.executor='slurm'
    	singularity.enabled = true
        process.queue = "norm"
        process.container = 'docker://seandavi/curatedmetagenomics'
	params.publish_dir="/data/sdavis2/nf_testing/${params.runs}"
	params.store_dir="/data/sdavis2/nf_testing/resources"
    }

    google {
    	docker.enabled = true
    	process.container = 'seandavi/curatedmetagenomics'
        google.region = 'us-central1'
	process.executor = 'google-lifesciences'
	google.lifeSciences.preemptible = true
	google.lifeSciences.debug = true
	process.disk = '200 GB'
	process.errorStrategy={ task.exitStatus==14 ? 'retry' : 'terminate' }
	process.maxRetries=4
    }
}