/*
========================================================================================
    Module-specific Configuration
========================================================================================
    Module-specific configuration options and tool-specific parameters.
----------------------------------------------------------------------------------------
*/

process {

    // Module-specific configurations
    withName: 'FASTERQ_DUMP' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/fasterq_dump" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'LOCAL_FASTQC' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/local_fastqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'KNEADDATA' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/kneaddata" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'METAPHLAN_UNKNOWN_VIRUSES_LISTS' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/metaphlan_lists" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'METAPHLAN_UNKNOWN_LIST' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/metaphlan_lists" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'METAPHLAN_MARKERS' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/metaphlan_markers/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMPLE_TO_MARKERS' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/strainphlan_markers/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'HUMANN' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/humann" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
