/*
========================================================================================
    Module-specific Configuration
========================================================================================
    Module-specific configuration options and tool-specific parameters.
----------------------------------------------------------------------------------------
*/

process {

    // Module-specific configurations
    withName: 'FASTERQ_DUMP' {
        cpus   = 8
        memory = 16.GB
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/fasterq_dump" },
            mode: params.publish_dir_mode,
            pattern: "{fastq_line_count.txt,*_fastqc/fastqc_data.txt,sampleinfo.txt,.command*}"
        ]
    }

    withName: 'LOCAL_FASTQC' {
        cpus   = 8
        memory = 16.GB
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/local_fastqc" },
            mode: params.publish_dir_mode,
            pattern: "{fastq_line_count.txt,*_fastqc/fastqc_data.txt,sampleinfo.txt,.command*}"
        ]
    }

    withName: 'KNEADDATA' {
        cpus   = 8
        memory = 30.GB
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/kneaddata" },
            mode: params.publish_dir_mode,
            pattern: "{kneaddata_output/kneaddata_fastq_linecounts.txt,kneaddata_output/out_kneaddata.log,.command*}"
        ]
    }

    withName: 'INSTALL_METAPHLAN_DB' {
        cpus   = 4
        memory = 8.GB
        storeDir = "${params.store_dir}"
    }

    withName: 'METAPHLAN_UNKNOWN_VIRUSES_LISTS' {
        cpus   = 8
        memory = 30.GB
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/metaphlan_lists" },
            mode: params.publish_dir_mode,
            pattern: "{*tsv.gz,.command*}"
        ]
    }

    withName: 'METAPHLAN_UNKNOWN_LIST' {
        cpus   = 8
        memory = 30.GB
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/metaphlan_lists" },
            mode: params.publish_dir_mode,
            pattern: "{*tsv.gz,.command*}"
        ]
    }

    withName: 'METAPHLAN_MARKERS' {
        cpus   = 2
        memory = 30.GB
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/metaphlan_markers/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SAMPLE_TO_MARKERS' {
        cpus   = 4
        memory = 8.GB
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/strainphlan_markers/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CHOCOPHLAN_DB' {
        cpus   = 1
        memory = 1.GB
        storeDir = "${params.store_dir}"
    }

    withName: 'UNIREF_DB' {
        cpus   = 1
        memory = 1.GB
        storeDir = "${params.store_dir}"
    }

    withName: 'KNEADDATA_HUMAN_DATABASE' {
        cpus   = 1
        memory = 4.GB
        storeDir = "${params.store_dir}"
    }

    withName: 'KNEADDATA_MOUSE_DATABASE' {
        cpus   = 1
        memory = 4.GB
        storeDir = "${params.store_dir}"
    }

    withName: 'HUMANN' {
        cpus   = 16
        memory = 64.GB
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/humann" },
            mode: params.publish_dir_mode
        ]
    }
}
