/*
========================================================================================
    Test Configuration
========================================================================================
    Defines input files and everything required to run a fast and simple test.
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input = 'https://raw.githubusercontent.com/seandavi/curatedMetagenomicsNextflow/main/samplesheet.test.tsv'

    // Skip HUMAnN for faster testing
    skip_humann = true

    // Output directory
    outdir = 'results'
}
