/*
 * Alpine profile
 */

profiles {
    alpine {
        workDir = 'work'
        params.store_dir = "/scratch/alpine/${USER}/curatedMetagenomicsNextflow/keep/store/"

        singularity.runOptions = "--bind /scratch/alpine/${USER}/curatedMetagenomicsNextflow/keep/store/:/keep/store/"
        // process.executor = 'slurm'
    }
}
